# Cegah eksekusi script di folder upload
<FilesMatch "\.(php|phtml|php3|php4|php5|php7|phps|pht|shtml|cgi|pl|py)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order Allow,Deny
        Deny from all
    </IfModule>
</FilesMatch>

# Nonaktifkan directory listing
Options -Indexes

# Nonaktifkan eksekusi PHP di folder ini
php_flag engine off
